.kz-btn {
  width: 100%;
  margin: 4px 0;
}
.kz-input-text {
  margin-top: 3px;
  width: 100%;
}
.kz-pad-20 {
padding: 20px;
}
.col-xs-3, .col-xs-9 {
padding: 0;
}

/* Nova classe para botões de números */
.btn-numero {
  background-color: white;
  color: black; /* Ajuste a cor do texto se necessário */
}
